/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	 h1{
 		color: green;
 	}
 	.box{
		min-height: 100px;
		background-color: teal;
	}
	.box2{
		min-height: 80px;
		background-color: lime;
	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	 h1{
 		color: yellow;
 	}
  	.box{
		min-height: 100px;
		background-color: yellow;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	 h1{
 		color: blue;
 	}
  	.box{
		min-height: 100px;
		background-color: green;
	}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	 h1{
 		color: black;
 	}
  	.box{
		min-height: 100px;
		background-color: red;
	}
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
	 h1{
 		color: lime;
 	}
  	.box{
		min-height: 100px;
		background-color: black;
	}
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
	 h1{
 		color: teal;
 	}
  	.box{
		min-height: 100px;
		background-color: lime;
	}
}